<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aftarobot.traffic.department.admin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/CommuterTheme">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="@string/dept_admin_api_key" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/dept_admin_api_key" />
        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="@string/dept_admin_api_key" />

        <!-- SERVICES FOR FIREBASE CLOUD MESSAGING -->
        <service
            android:name=".services.DeptAdminInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.DeptAdminMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".DeptAdminLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CommuterTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeptMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/CommuterTheme">

        </activity>
    </application>

</manifest>